@import url(https://fonts.googleapis.com/css?family=Fredoka+One);
@import url(https://fonts.googleapis.com/css?family=Bevan);

$primaryFontColor: #FFFFFF;

* {
  box-sizing: border-box;
}

body {
  padding: 3em;
  background-image: url(../img/cheap_diagonal_fabric.png);
  background-repeat: repeat;
}

h1, h2, h3, h4 {
  margin: 0;
  font-size: 1em;
}

h1, h2 {
  font-family: 'Fredoka One', Arial, sans-serif;
  color: $primaryFontColor;
  font-size: 3rem;
}

.title span {
  display: block;
  font-size: 10rem;
}

.text-shadow {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.text-inset {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.things {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 75vw;
  margin-top: 3rem;
}

.things__thing {
  padding: 0;
}

$buttonColor: #FFFFFF;
$buttonFont: 'Fredoka One', Arial, sans-serif;
$buttonFontSize: 2rem;
$buttonOneShadowColors: ($buttonColor, #3498DB, #2980B9);
$buttonTwoShadowColors: ($buttonColor, #E74C3C, #BD3E31);
$buttonThreeShadowColors: ($buttonColor, #82BF56, #669644);

.things__button--one {
  @include raisedButton($buttonOneShadowColors, $buttonFont, $buttonFontSize);
}

.things__button--two {
  @include raisedButton($buttonTwoShadowColors, $buttonFont, $buttonFontSize);
}

.things__button--three {
  @include raisedButton($buttonThreeShadowColors, $buttonFont, $buttonFontSize);
}
