html.jw {
  &, body { height: 100%; }

  body {
    background-color: white;
    color: black;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    
    /*
    It's pretty late in the game
    for me to try to understand or
    explain why the body sits in
    front of Sprite3D elements.
    
    Anyway, this fixes it.
    */
    height:1px;
    width:1px;
  }
  
  #stage {
    z-index: -1;
  }
  
  #order-info {
    background-color: rgba(177, 121, 67, 0.95);
    border: 5px solid brown;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 25px;
    padding: 25px;
    width: 300px;
  }
  
  #order-info h1 {
    margin-bottom:.5em;
  }
  
  #order-info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #order-info #items tr.absurd-fee {
    display:none;
  }
  
  #order-info tr td:nth-child(2) {
    text-align:right;
  }
  
  #order-info h2 {
    margin-top:.5em;
  }
  
  .backboard {
    background: url('/img/jw/woodgrain.png') 0% 0%;
    height:4500px;
    width:8750px;
  }
  
  .arrow_box {
    position: relative;
    background: #83CD05;
  }
  .arrow_box:after {
    border: solid transparent;
    border-color: rgba(131, 205, 5, 0);
    border-right-color: #83CD05;
    border-width: 450px;
    content: " ";
    cursor:pointer;
    height: 0;
    pointer-events: none;
    position: absolute;
    margin-top: -450px;
    right: 100%;
    top: 50%;
    width: 0;
  }
  
  $cocopopsDepth: 280px;
  $cocopopsHeight: 1172px;
  $cocopopsWidth: 900px;
  
  /* CocoPops */
  .boxFront.cocopops {
    background: url('/img/jw/CocoPops/cocopopsFront.png') 0px 0px;
    cursor:pointer;
    width: $cocopopsWidth;
    height: $cocopopsHeight;
  }

  .boxRight.cocopops {
    background: url('/img/jw/CocoPops/cocopopsSideRight.png') 0px 0px;
    width: $cocopopsDepth;
    height: $cocopopsHeight;
  }

  .boxLeft.cocopops {
    background: url('/img/jw/CocoPops/cocopopsSideLeft.png') 0px 0px;
    width: $cocopopsDepth;
    height: $cocopopsHeight;
  }

  .boxBack.cocopops {
    background: url('/img/jw/CocoPops/cocopopsBack.png') 0px 0px;
    width: $cocopopsWidth;
    height: $cocopopsHeight;
  }

  .boxTop.cocopops {
    background: url('/img/jw/CocoPops/cocopopsTop-revised.png') 0px 0px;
    width: $cocopopsWidth;
    height: $cocopopsDepth;
  }

  .boxBottom.cocopops {
    background: url('/img/jw/CocoPops/cocopopsBottom-revised.png') 0px 0px;
    width: $cocopopsWidth;
    height: $cocopopsDepth;
  }
  
  $cornpopsDepth: 419px;
  $cornpopsHeight: 1213px;
  $cornpopsWidth: 728px;
  
  /* CornPops */
  .boxFront.cornpops {
    background: url('/img/jw/CornPops/CornPopsFront.png') 0px 0px;
    width: $cornpopsWidth;
    height: $cornpopsHeight;
    cursor:pointer;
  }

  .boxRight.cornpops {
    background: url('/img/jw/CornPops/CornPopsRightSide.png') 0px 0px;
    width: $cornpopsDepth;
    height: $cornpopsHeight;
  }

  .boxLeft.cornpops {
    background: url('/img/jw/CornPops/CornPopsLeftSide.png') 0px 0px;
    width: $cornpopsDepth;
    height: $cornpopsHeight;
  }

  .boxBack.cornpops {
    background: url('/img/jw/CornPops/CornPopsBack.png') 0px 0px;
    width: $cornpopsWidth;
    height: $cornpopsHeight;
  }

  .boxTop.cornpops {
    background: url('/img/jw/CornPops/CornPopsTop-revised.png') 0px 0px;
    width: $cornpopsWidth;
    height: $cornpopsDepth;
  }

  .boxBottom.cornpops {
    background: url('/img/jw/CornPops/CornPopsBottom-revised.png') 0px 0px;
    width: $cornpopsWidth;
    height: $cornpopsDepth;
  }
  
  $shreddiesDepth: 280px;
  $shreddiesHeight: 1213px;
  $shreddiesWidth: 729px;
  
  /* Shreddies */
  .boxFront.shreddies {
    background: url('/img/jw/Shreddies/ShreddiesFront-revised.png') 0px 0px;
    width: $shreddiesWidth;
    height: $shreddiesHeight;
    cursor:pointer;
  }

  .boxRight.shreddies {
    background: url('/img/jw/Shreddies/ShreddiesRightSide.png') 0px 0px;
    width: $shreddiesDepth;
    height: $shreddiesHeight;
  }

  .boxLeft.shreddies {
    background: url('/img/jw/Shreddies/ShreddiesLeftSide-revised.png') 0px 0px;
    width: $shreddiesDepth;
    height: $shreddiesHeight;
  }

  .boxBack.shreddies {
    background: url('/img/jw/Shreddies/ShreddiesBack-revised.png') 0px 0px;
    width: $shreddiesWidth;
    height: $shreddiesHeight;
  }

  .boxTop.shreddies {
    background: url('/img/jw/Shreddies/ShreddiesTop.png') 0px 0px;
    width: $shreddiesWidth;
    height: $shreddiesDepth;
  }

  .boxBottom.shreddies {
    background: url('/img/jw/Shreddies/ShreddiesBottom.png') 0px 0px;
    width: $shreddiesWidth;
    height: $shreddiesDepth;
  }
}