.productView {
  -webkit-perspective: 800;
  -webkit-perspective-origin: 50% 200px;
  perspective: 800;
  perspective-origin: 50% 200px;
}

.productBox {
  position: relative;
  margin: 75px auto;
  width:385px;
  height:550px;
  -webkit-transition: -webkit-transform 10ms linear;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(-20deg) rotateY(25deg);
  transition: 10ms linear;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(25deg);
}

.productBox__side {
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.productBox__side--front,
.productBox__side--back { // front/back
  position:absolute;
  height: 550px;
  width: 385px;
}

.productBox__side--left,
.productBox__side--right {  // sides
  position:absolute;
  height: 550px;
  width: 120px;
}

.productBox__side--top,
.productBox__side--bottom { // top / bottom
  position:absolute;
  height: 120px;
  width: 385px;
}

.productBox__side--top {
  -webkit-transform: rotateX(90deg) translateZ(60px);
  transform: rotateX(90deg) translateZ(60px);
  background: #E3912D url(http://i.minus.com/jbkGrJOK5HLaMl.jpg) no-repeat;
}

.productBox__side--front {
  -webkit-transform: translateZ(60px);
  transform: translateZ(60px);
  background: #E3912D url(http://i.minus.com/jWk1M8OA7lNmN.jpg) no-repeat;
}

.productBox__side--right {
  -webkit-transform: rotateY(90deg) translateZ(322px);
  transform: rotateY(90deg) translateZ(322px);
  background: #E3912D url(http://i.minus.com/jrJrBUh8FiYVx.jpg) no-repeat;
}

.productBox__side--left {
  -webkit-transform: rotateY(-90deg) translateZ(60px);
  transform: rotateY(-90deg) translateZ(60px);
  background: #E3912D url(http://i.minus.com/jNMeSf4jkgEtf.jpg) no-repeat;
}

.productBox__side--back {
  -webkit-transform: rotateY(180deg) translateZ(60px);
  transform: rotateY(180deg) translateZ(60px);
  background: #E3912D url(http://i.minus.com/jb0Dp66XsiToKr.jpg) no-repeat;
}

.productBox__side--bottom {
  -webkit-transform: rotateX(-90deg) translateZ(487px) rotate(180deg);
  transform: rotateX(-90deg) translateZ(487px) rotate(180deg);
  background: #E3912D url(http://i.minus.com/j1SOuuKblzaOU.jpg) no-repeat;
}
