// taken from https://css-tricks.com/snippets/sass/px-to-em-functions/
@function em-calc($pixels, $context: 16px) {
  @return #{$pixels/$context}em;
}

@mixin productBox ($imageMap, $basePath: '../img/') {
  $boxWidth: image-width($basePath + map-get($imageMap, front));
  $boxHeight: image-height($basePath + map-get($imageMap, front));
  $boxDepth: image-width($basePath + map-get($imageMap, left));
  $boxSideZOffset: $boxDepth / 2;
  $rightSideZOffset: $boxWidth - $boxDepth / 2;
  $bottomSideZOffset: $boxHeight - $boxDepth / 2;

  // convert values to ems for easy scaling
  $emWidth: em-calc($boxWidth);
  $emHeight: em-calc($boxHeight);
  $emDepth: em-calc($boxDepth);
  $emZOffset: em-calc($boxSideZOffset);
  $emRightZOffset: em-calc($rightSideZOffset);
  $emBottomZOffset: em-calc($bottomSideZOffset);

  width: $emWidth;
  height: $emHeight;

  position: relative;
  transition: 10ms linear;
  transform-style: preserve-3d;
  // transform: rotateX(-20deg) rotateY(25deg);

  .productBox__side {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .productBox__side--front,
  .productBox__side--back {
    width: $emWidth;
    height: $emHeight;
  }

  .productBox__side--left,
  .productBox__side--right {
    height: $emHeight;
    width: $emDepth;
  }

  .productBox__side--top,
  .productBox__side--bottom {
    height: $emDepth;
    width: $emWidth;
  }

  .productBox__side--top {
    transform: rotateX(90deg) translateZ($emZOffset);
    background-image: url($basePath + map-get($imageMap, top));
  }

  .productBox__side--front {
    transform: translateZ($emZOffset);
    background-image: url($basePath + map-get($imageMap, front));
  }

  .productBox__side--right {
    transform: rotateY(90deg) translateZ($emRightZOffset);
    background-image: url($basePath + map-get($imageMap, right));
  }

  .productBox__side--left {
    transform: rotateY(-90deg) translateZ($emZOffset);
    background-image: url($basePath + map-get($imageMap, left));
  }

  .productBox__side--back {
    transform: rotateY(180deg) translateZ($emZOffset);
    background-image: url($basePath + map-get($imageMap, back));
  }

  .productBox__side--bottom {
    transform: rotateX(-90deg) translateZ($emBottomZOffset) rotate(180deg);
    background-image: url($basePath + map-get($imageMap, bottom));
  }
}
