html.jw, html.jw body {
  height: 100%; }

html.jw body {
  background-color: white;
  color: black;
  margin: 0px;
  padding: 0px;
  overflow: hidden; }

html.jw .boxFront {
  background: url("/img/jw/cocopopsFront.png") 0px 0px;
  width: 900px;
  height: 1172px; }

html.jw .boxRight {
  background: url("/img/jw/cocopopsSideRight.png") 0px 0px;
  width: 280px;
  height: 1172px; }

html.jw .boxLeft {
  background: url("/img/jw/cocopopsSideLeft.png") 0px 0px;
  width: 280px;
  height: 1172px; }

html.jw .boxBack {
  background: url("/img/jw/cocopopsBack.png") 0px 0px;
  width: 900px;
  height: 1172px; }

html.jw .boxTop {
  background: url("/img/jw/cocopopsTop-revised.png") 0px 0px;
  width: 900px;
  height: 280px; }

html.jw .boxBottom {
  background: url("/img/jw/cocopopsBottom-revised.png") 0px 0px;
  width: 900px;
  height: 280px; }

html.jw .imageLeft {
  background: url("/img/jw/cocopopsFront.png") 0px 0px;
  width: 200px;
  height: 500px; }

html.jw .imageRight {
  background: url("/img/jw/cocopopsFront.png") -200px 0px;
  width: 200px;
  height: 500px; }
