html.jw {
  &, body { height: 100%; }

  body {
    background-color: white;
    color: black;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }

  .boxFront {
    background: url('/img/jw/cocopopsFront.png') 0px 0px;
    width: 900px;
    height: 1172px;
  }

  .boxRight {
    background: url('/img/jw/cocopopsSideRight.png') 0px 0px;
    width: 280px;
    height: 1172px;
  }

  .boxLeft {
    background: url('/img/jw/cocopopsSideLeft.png') 0px 0px;
    width: 280px;
    height: 1172px;
  }

  .boxBack {
    background: url('/img/jw/cocopopsBack.png') 0px 0px;
    width: 900px;
    height: 1172px;
  }

  .boxTop {
    background: url('/img/jw/cocopopsTop-revised.png') 0px 0px;
    width: 900px;
    height: 280px;
  }

  .boxBottom {
    background: url('/img/jw/cocopopsBottom-revised.png') 0px 0px;
    width: 900px;
    height: 280px;
  }

  .imageLeft {
    background: url('/img/jw/cocopopsFront.png') 0px 0px;
    width: 200px;
    height: 500px;
  }

  .imageRight {
    background: url('/img/jw/cocopopsFront.png') -200px 0px;
    width: 200px;
    height: 500px;
  }
}